@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

// primary colors
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$svg-color-filter: invert(77%) sepia(60%) saturate(351%) hue-rotate(116deg)
	contrast(92%); // from white to dark-desaturated-cyan
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-blue: hsl(168, 34%, 41%);
// neutral colors
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
// fonts
$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', serif;
//other
$screen-edge-space: 1.5rem;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: $font-barlow;
	font-size: 18px;
}

body {
	background-color: adjust-color($color: $soft-red, $lightness: 29%);
}

// .site-main {
// }

%heading {
	font-family: $font-fraunces;
	font-weight: 900;
}

.section-main {
	position: relative;
	padding-top: calc(
		1056 / 750 * 100%
	); // trick for div size equal bg-image size
	background: url('./images/mobile/image-header.jpg');
	background-repeat: no-repeat;
	background-size: contain; // ?
	background-size: 100%;
	&__main-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -100%);
		color: $white;
		font-size: 2.3rem; // bad? (clamp)
		letter-spacing: 5px;
		text-align: center;
		text-transform: uppercase;
		@extend %heading;
	}
	&__arrow-down {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 2rem); // bad
	}
}

.site-header {
	display: flex;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 2rem $screen-edge-space;
	justify-content: space-between;
	&__nav {
	}
	&__nav-btn {
		border: none;
		background-color: transparent;
	}
	&__nav-menu {
		position: absolute;
		right: $screen-edge-space;
		left: $screen-edge-space;
		padding: 3rem;
		transform: translateY(3rem);
		background-color: $white;
		text-align: center;
		z-index: 1;
		list-style-type: none;
		&--hidden {
			display: none;
		}
		&::after {
			position: absolute;
			top: -20px;
			right: 0;
			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-right: 10px solid $white;
			border-bottom: 10px solid $white;
			border-left: 10px solid transparent;
			content: '';
		}
	}
	&__nav-menu-item:not(:last-of-type) {
		margin-bottom: 2rem;
	}
	&__nav-link {
		color: $dark-grayish-blue;
		font-size: 20px;
		text-decoration: none;
	}
	&__contact-btn {
		padding: 1rem 2rem;
		border: none;
		border-radius: 2rem;
		background: $yellow;
	}
	&__contact-btn-link {
		color: $very-dark-desaturated-blue;
		font-family: $font-fraunces;
		font-size: 1rem;
		font-weight: 900;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.section-double {
	// min-height: 100vh;
	display: flex;
	text-align: center;
	flex-direction: column;
	&__cnt {
		display: flex;
		height: 100%;
		padding: 3rem 1.5rem; // clamp
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__img-cnt img {
		display: block;
		width: 100%;
	}
	&__heading {
		@extend %heading;
		margin-bottom: 2rem;
		color: $very-dark-desaturated-blue;
		font-size: 1.75rem;
	}
	&__text {
		color: $dark-grayish-blue;
		// font-size: 18px;
		line-height: 1.75rem;
	}
	&__link {
		display: inline-block;
		position: relative;
		padding-top: 2rem;
		color: $very-dark-desaturated-blue;
		text-decoration: none;
		text-transform: uppercase;
		z-index: 1;
		@extend %heading;
		&:hover::after {
			opacity: 1;
		}
		&::after {
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 120%;
			height: 8px;
			transform: translateX(-10%);
			transition: 0.25s ease-in-out;
			border-radius: 10px;
			content: '';
			z-index: -1;
			opacity: 0.25;
		}
		&[href='#transform']::after {
			background: $yellow;
		}
		&[href='#stand-out']::after {
			background: $soft-red;
		}
	}
}

.section-single {
	position: relative;
	padding-top: calc(
		1200 / 750 * 100%
	); // w / h * 100% for div size equal bg-img size
	background-repeat: no-repeat !important; // bad
	background-size: contain !important; // bad
	background-size: 100% !important; // bad
	&--graphic-design {
		background: url('./images/mobile/image-graphic-design.jpg');
	}
	&--photography {
		background: url('./images/mobile/image-photography.jpg');
	}
	&__cnt {
		position: absolute;
		bottom: 3rem;
		padding: 0 1.5rem;
		text-align: center;
	}
	&__heading {
		margin-bottom: 1.5rem;
		font-size: 1.75rem;
		@extend %heading;
		&--green {
			color: $dark-desaturated-cyan;
		}
		&--blue {
			color: $dark-blue;
		}
	}
	&__text {
		line-height: 1.5rem;
		&--green {
			color: $dark-desaturated-cyan;
		}
		&--blue {
			color: $dark-blue;
		}
	}
}

.site-testimonials {
	padding: 2rem;
	text-align: center;
	&__heading {
		padding: 2rem 0;
		color: $grayish-blue;
		font-size: 1rem;
		letter-spacing: 3px;
		text-transform: uppercase;
		@extend %heading;
	}
	&__testimonial {
		padding: 2rem 0;
	}
	&__img {
		width: 4rem;
		margin-bottom: 1.5rem;
		border-radius: 50%;
	}
	&__opinion {
		margin-bottom: 2rem;
		color: $very-dark-grayish-blue;
		line-height: 1.75rem;
	}
	&__name {
		margin-bottom: 1rem;
		color: $very-dark-desaturated-blue;
		@extend %heading;
	}
	&__profession {
		color: $dark-grayish-blue;
		font-size: 0.85rem;
	}
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	&__img {
		display: block;
		max-width: 50%;
		flex: 1 1 50%;
	}
}

.site-footer {
	display: flex;
	padding: 4rem 2rem;
	background-color: adjust-color(
		$color: $dark-moderate-blue,
		$lightness: 29%
	); // almost equal to #91d3c5
	flex-direction: column;
	align-items: center;
	&__logo {
		width: 50vw;
		margin-bottom: 3rem;
		filter: $svg-color-filter;
	}
	&__nav {
		width: 100%;
	}
	&__list {
		display: flex;
		width: 100%;
		list-style-type: none;
		&--pages {
			margin-bottom: 4.5rem;
			justify-content: space-between;
			@extend .site-footer__list;
		}
		&--social-media {
			justify-content: center;
			@extend .site-footer__list;
		}
	}
	&__list-item:not(:last-of-type) {
		margin-right: 2rem;
	}
	&__link {
		color: $dark-moderate-blue;
		// font-size: 18px;
		text-decoration: none;
	}
}

@media only screen and (min-width: 600px) {
	.section-main {
		// background: url('./images/desktop/image-header.jpg');
		// padding-top: calc(2880 / 1600 * 100%); // do poprawy
	}
}
