@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
@use 'sass:color';
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

body {
  background-color: #fffbfa;
}

.section-main__main-title, .section-double__heading, .section-double__link, .section-single__heading, .site-testimonials__heading, .site-testimonials__name {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.section-main {
  position: relative;
  padding-top: calc( 1056 / 750 * 100%);
  background: url("./images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
}

.section-main__main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  color: white;
  font-size: 2.3rem;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

.section-main__arrow-down {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 2rem);
          transform: translate(-50%, 2rem);
}

.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2rem 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header__nav-btn {
  border: none;
  background-color: transparent;
}

.site-header__nav-menu {
  position: absolute;
  right: 1.5rem;
  left: 1.5rem;
  padding: 3rem;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
  background-color: white;
  text-align: center;
  z-index: 1;
  list-style-type: none;
}

.site-header__nav-menu--hidden {
  display: none;
}

.site-header__nav-menu::after {
  position: absolute;
  top: -20px;
  right: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid white;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  content: '';
}

.site-header__nav-menu-item:not(:last-of-type) {
  margin-bottom: 2rem;
}

.site-header__nav-link {
  color: #818498;
  font-size: 20px;
  text-decoration: none;
}

.site-header__contact-btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background: #fad400;
}

.site-header__contact-btn-link {
  color: #23303e;
  font-family: "Fraunces", serif;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}

.section-double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-double__cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 3rem 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-double__img-cnt img {
  display: block;
  width: 100%;
}

.section-double__heading {
  margin-bottom: 2rem;
  color: #23303e;
  font-size: 1.75rem;
}

.section-double__text {
  color: #818498;
  line-height: 1.75rem;
}

.section-double__link {
  display: inline-block;
  position: relative;
  padding-top: 2rem;
  color: #23303e;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
}

.section-double__link:hover::after {
  opacity: 1;
}

.section-double__link::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 120%;
  height: 8px;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border-radius: 10px;
  content: '';
  z-index: -1;
  opacity: 0.25;
}

.section-double__link[href='#transform']::after {
  background: #fad400;
}

.section-double__link[href='#stand-out']::after {
  background: #fe7867;
}

.section-single {
  position: relative;
  padding-top: calc( 1200 / 750 * 100%);
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-size: 100% !important;
}

.section-single--graphic-design {
  background: url("./images/mobile/image-graphic-design.jpg");
}

.section-single--photography {
  background: url("./images/mobile/image-photography.jpg");
}

.section-single__cnt {
  position: absolute;
  bottom: 3rem;
  padding: 0 1.5rem;
  text-align: center;
}

.section-single__heading {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

.section-single__heading--green {
  color: #25564b;
}

.section-single__heading--blue {
  color: #19536b;
}

.section-single__text {
  line-height: 1.5rem;
}

.section-single__text--green {
  color: #25564b;
}

.section-single__text--blue {
  color: #19536b;
}

.site-testimonials {
  padding: 2rem;
  text-align: center;
}

.site-testimonials__heading {
  padding: 2rem 0;
  color: #a7abae;
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.site-testimonials__testimonial {
  padding: 2rem 0;
}

.site-testimonials__img {
  width: 4rem;
  margin-bottom: 1.5rem;
  border-radius: 50%;
}

.site-testimonials__opinion {
  margin-bottom: 2rem;
  color: #5a636c;
  line-height: 1.75rem;
}

.site-testimonials__name {
  margin-bottom: 1rem;
  color: #23303e;
}

.site-testimonials__profession {
  color: #818498;
  font-size: 0.85rem;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__img {
  display: block;
  max-width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.site-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 2rem;
  background-color: #98cdc2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-footer__logo {
  width: 50vw;
  margin-bottom: 3rem;
  -webkit-filter: invert(77%) sepia(60%) saturate(351%) hue-rotate(116deg) contrast(92%);
          filter: invert(77%) sepia(60%) saturate(351%) hue-rotate(116deg) contrast(92%);
}

.site-footer__nav {
  width: 100%;
}

.site-footer__list, .site-footer__list--pages, .site-footer__list--social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style-type: none;
}

.site-footer__list--pages {
  margin-bottom: 4.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-footer__list--social-media {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-footer__list-item:not(:last-of-type) {
  margin-right: 2rem;
}

.site-footer__link {
  color: #458c7e;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */