@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

// primary colors
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$svg-color-filter: invert(77%) sepia(60%) saturate(351%) hue-rotate(116deg) contrast(92%); // from white to dark-desaturated-cyan
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-blue: hsl(168, 34%, 41%);
// neutral colors
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
// fonts
$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', serif;
//other
$screen-edge-space: Max(1.5rem, 3vw);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: $font-barlow;
	font-size: 18px;
}

body {
	background-color: adjust-color($color: $soft-red, $lightness: 29%);
}

.sections-grid {
	display: grid;
	grid-template-columns: 1fr;
}

%heading {
	font-family: $font-fraunces;
	font-weight: 900;
}

.site-header {
	display: flex;
	position: absolute;
	width: 100%;
	padding: 2rem $screen-edge-space;
	z-index: 1;
	justify-content: space-between;
	align-items: center;
	&__logo {
		height: 2rem;
	}
	&__nav-btn {
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
	&__nav-menu {
		position: absolute;
		right: $screen-edge-space;
		left: $screen-edge-space;
		padding: 3rem;
		transform: translateY(3rem);
		background-color: $white;
		text-align: center;
		list-style-type: none;
		&--hidden {
			display: none;
		}
		&::after {
			position: absolute;
			top: -20px;
			right: 0;
			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-right: 10px solid $white;
			border-bottom: 10px solid $white;
			border-left: 10px solid transparent;
			content: '';
		}
	}
	&__nav-menu-item:not(:last-of-type) {
		margin-bottom: 2rem;
	}
	&__nav-link {
		color: $dark-grayish-blue;
		font-size: 20px;
		text-decoration: none;
	}
	&__contact-btn {
		padding: 1rem 2rem;
		transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
		border: none;
		border-radius: 2rem;
		background: $yellow;
		color: $very-dark-desaturated-blue;
		font-family: $font-fraunces;
		font-size: 1rem;
		font-weight: 900;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
	}
}

.primary-section {
	position: relative;
	padding-top: calc(1056 / 750 * 100%); // trick for div size equal bg-image size
	background: url('./images/mobile/image-header.jpg');
	background-size: 100%;
	&__title {
		position: absolute;
		top: 25%;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);
		color: $white;
		font-size: Max(2rem, 4vw);
		letter-spacing: 5px;
		text-align: center;
		text-transform: uppercase;
		@extend %heading;
	}
	&__arrow-down {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 2vw);
	}
}

.img-container {
	&__img {
		display: block;
		width: 100%;
	}
}

.section-text {
	display: flex;
	padding: 3rem 1.5rem;
	text-align: center;
	align-items: center;
	&__heading {
		margin-bottom: 1.5rem;
		color: $very-dark-desaturated-blue;
		font-size: 1.75rem;
		@extend %heading;
	}
	&__text {
		color: $dark-grayish-blue;
		line-height: 1.75rem;
	}
	&__link {
		display: inline-block;
		position: relative;
		padding-top: 2rem;
		color: $very-dark-desaturated-blue;
		text-decoration: none;
		text-transform: uppercase;
		z-index: 1;
		@extend %heading;
		&:hover::after {
			opacity: 1;
		}
		&::after {
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 120%;
			height: 8px;
			transform: translateX(-10%);
			transition: 0.25s ease-in-out;
			border-radius: 10px;
			content: '';
			z-index: -1;
			opacity: 0.25;
		}
		&[href='#transform']::after {
			background: $yellow;
		}
		&[href='#stand-out']::after {
			background: $soft-red;
		}
	}
}

.section-with-img {
	display: flex;
	position: relative;
	padding-top: calc(1200 / 750 * 100%); // w / h * 100% for div size equal bg-img size
	background-size: contain !important;
	justify-content: center;
	&__cnt {
		position: absolute;
		bottom: 4vh;
		padding: 0 clamp(1.5rem, 3vw, 10rem);
		text-align: center;
	}
	&--graphic-design {
		background: url('./images/mobile/image-graphic-design.jpg');
		color: $dark-desaturated-cyan;
	}
	&--photography {
		background: url('./images/mobile/image-photography.jpg');
		color: $dark-blue;
	}
	&__heading {
		margin-bottom: 1.5rem;
		font-size: 1.5rem;
		@extend %heading;
	}
	&__text {
		line-height: 1.25rem;
	}
}

.testimonials-list {
	display: flex;
	padding: 3rem 2rem;
	text-align: center;
	flex-wrap: wrap;
	&__heading {
		width: 100%;
		padding: 2rem 0;
		color: $grayish-blue;
		font-size: 1rem;
		letter-spacing: 3px;
		text-transform: uppercase;
		@extend %heading;
	}
}

.testimonials-item {
	padding: 1rem 0 2rem;
	&__img {
		width: 4rem;
		margin-bottom: 1.5rem;
		border-radius: 50%;
	}
	&__opinion {
		margin-bottom: 2rem;
		color: $very-dark-grayish-blue;
		line-height: 1.75rem;
	}
	&__name {
		margin-bottom: 1rem;
		color: $very-dark-desaturated-blue;
		@extend %heading;
	}
	&__profession {
		color: $dark-grayish-blue;
		font-size: 0.85rem;
	}
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	&__img {
		display: block;
		max-width: 50%;
		flex: 1 1 50%;
	}
}

.site-footer {
	display: flex;
	padding: 4rem 2rem;
	background-color: adjust-color($color: $dark-moderate-blue, $lightness: 29%); // almost equal to #91d3c5
	flex-direction: column;
	align-items: center;
	&__logo {
		margin-bottom: 3rem;
		filter: $svg-color-filter;
	}
	&__nav {
		width: 100%;
	}
	&__list {
		display: flex;
		width: 100%;
		list-style-type: none;
		justify-content: center;
		&--pages {
			margin-bottom: 4.5rem;
			@extend .site-footer__list;
		}
		&--social-media {
			@extend .site-footer__list;
		}
	}
	&__list-item:not(:last-of-type) {
		margin-right: 2rem;
	}
	&__link {
		color: $dark-moderate-blue;
		text-decoration: none;
		&:hover {
			filter: brightness(0) invert(1);
		}
	}
}

@media only screen and (min-width: 1024px) {
	.site-header {
		&__nav-btn {
			display: none;
		}
		&__nav-menu {
			display: flex;
			position: relative;
			right: $screen-edge-space;
			padding: 0 $screen-edge-space 0 0;
			transform: translateY(0);
			background-color: transparent;
			align-items: center;
			&::after {
				display: none;
			}
		}
		&__nav-menu-item:not(:last-of-type) {
			margin: 0 2rem 0 0;
		}
		&__nav-link {
			color: $white;
			opacity: 0.9;
		}
		&__contact-btn {
			padding: 1rem 1.5rem;
			background: $white;
			&:hover {
				background-color: rgba($color: #fff, $alpha: 0.35);
				color: $white;
			}
		}
		&__contact-btn-link {
			font-size: 0.85rem;
		}
	}

	.sections-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.primary-section {
		padding-top: calc(1600 / 2880 * 100%);
		background: url('./images/desktop/image-header.jpg');
		background-size: contain;
		&__arrow-down {
			top: 45%;
			transform: translate(-50%);
		}
	}

	.section-text {
		position: relative;
		text-align: left;
		&:first-of-type {
			padding: 0 15% 0 20%;
			order: -1;
		}
		&:nth-of-type(2) {
			padding: 0 20% 0 15%;
		}
		&__heading {
			font-size: 2.25rem;
		}
	}

	.section-with-img {
		padding-top: calc(600 / 720 * 100%);
		&--graphic-design {
			background: url('./images/desktop/image-graphic-design.jpg');
		}
		&--photography {
			background: url('./images/desktop/image-photography.jpg');
		}
	}

	.testimonials-list {
		padding: 10% 10%;
		&__heading {
			font-size: 1.2rem;
		}
	}

	.testimonials-item {
		padding: 1rem;
		flex: 1 1 33%;
		&__opinion {
			padding: 2rem 0;
		}
	}

	.gallery {
		&__img {
			max-width: 25%;
			flex: 1 1 25%;
		}
	}

	.site-footer {
		&__nav {
			width: 100%;
			justify-content: center;
		}
		&__list {
			&--pages {
				justify-content: center;
			}
		}
	}
}
